.slideY-enter{
    opacity: 0;
    height: 0;
}
.slideY-enter-active{
    opacity: 1;
    height: 127px;
    transition: opacity 200ms, height 200ms;
}
.slideY-exit{
    opacity: 1;
    height: 127px;
}
.slideY-exit-active{
    opacity: 0;
    height: 0;
    transition: opacity 200ms, height 200ms;
}